body {
    background-color: #53AA8C;
    font-family: 'Roboto', sans-serif;
}

.contenedorInicio{
    width: 85%;
    height:100%;
    background-color: white;
    text-align: center;
    margin-top: 15%;
    margin-left: 2%;
    padding: 5%;
    padding-top: 15%;  
    display: inline-block;
    border-radius: 5px;
}

.logotipo{
    height: 45%;
    
}

.fondoAbajo{
    background-image:url('img/fondoAbajo.png');
    height: 100vh;
    margin-top: -6%;
}

.logoGoogle{
    width:5% ;

}

.parrafoGoogle{
    font-size: 70%;
}


.botones{
    padding: 2%;


}
.iniciarSesion{

    width: 40%;
    border-radius: 5px;
    background-color: #85DCBC;
    padding: 7px;
    font-family: 'Roboto', sans-serif;

}

.registarse{
    width: 40%;
    border-radius: 5px;
    background-color: #85DCBC;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
}

.icono16{
    width: 8%;
}

.parrafo16{
    font-size: 70%;
}