body {
    background-color: #53AA8C;
    font-family: 'Roboto', sans-serif;
}

.contenedorInicio{
    width: 85%;
    height:100%;
    background-color: white;
    text-align: center;
    margin-top: 15%;
    margin-left: 2%;
    padding: 5%;
    padding-top: 15%;  
    display: inline-block;
    border-radius: 5px;
}

.logotipo{
    height: 45%;
    
}

.fondoAbajo{
    background-image:url('img/fondoAbajo.png');
    height: 100vh;
    margin-top: -6%;
}

.logoGoogle{
    width:5% ;

}

.parrafoGoogle{
    font-size: 70%;
    display: contents;
}


.botones{
    padding: 10%;
    
}

.btns {
    padding: 5%;
    margin-top: 15px;
    
}
.iniciarSesion{

    width: 40%;
    border-radius: 5px;
    background-color: #85DCBC;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    margin-right: 7px;

}

.registrarse{
    width: 40%;
    border-radius: 5px;
    background-color: #85DCBC;
    padding: 7px;
    font-family: 'Roboto', sans-serif;

}

.btn-registrarse{
    width: 40%;
    border-radius: 5px;
    background-color: #85DCBC;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    margin-left: 170px;
}

.icono16{
    width: 8%;
}

.parrafo16{
    font-size: 70%;
    display: contents;
}
.iniciarsesion {
    height: 23px;
    left: 112px;
    top: 149px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    
    color: #2B2B2B;
}

.tituloRegi {
    height: 23px;
    left: 112px;
    top: 149px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #2B2B2B;
}

.atras {
    width: 40%;
    border-radius: 5px;
    background-color: #85DCBC;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    margin-right: 7px;
}

.email{
    background: rgba(147, 178, 170, 0.34);
    border-radius: 5px;
    height: 28px;
    margin-top: 2%;
    width: 276px;
}

.password{
    background: rgba(147, 178, 170, 0.34);
    border-radius: 5px;
    margin-top: 2%;
    height: 28px;
    width: 276px;
}

.nombre{
    background: rgba(147, 178, 170, 0.34);
    border-radius: 5px;
    height: 28px;
    width: 132px;
}

.apellido{
    background: rgba(147, 178, 170, 0.34);
    border-radius: 5px;
    height: 28px;
    margin-top: 2%;
    width: 132px;
}

.mbti{
    background: rgba(147, 178, 170, 0.34);
    border-radius: 5px;
    height: 28px;
    width: 276px;
    margin-top: 2%;
    width: 284px;

}